@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

html, body{
  height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

h1 {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

h4 {
	padding: 0;
	margin: 100 0 0 0;
	font-family: 'Montserrat', sans-serif;
}

#app {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100%;
}

.wrapper{
   scroll-snap-align: start;
	 text-align: center;
   background: rgb(10,10,10);
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 1;
   position: relative;
}

#wrapper{
  background: linear-gradient(rgba(10,10,10,.6),rgba(0,0,0,.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px),
  url('https://wallpaperaccess.com/full/670557.jpg');
  background-size: cover;
  background-position: center;
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#wrapper2{
  justify-content:flex-start;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(10,10,10,.6),rgba(0,0,0,.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px),
  url('https://wallpaperaccess.com/full/1690367.jpg');

}

#projectTitle {
  margin-top: 10vh;
	color: white;
	font-size: 2em;
	letter-spacing: .5em;
	animation: glitch-skew 2s infinite linear alternate-reverse;
}

#title {
	color: white;
  min-height: 1.2em;
	font-size: 2em;
	letter-spacing: .5em;
  display: block;
	animation: glitch-skew 2s infinite linear alternate-reverse;
}

#start {
	position:relative;
	top: 18vh;
  bottom: auto;
	left: 0;
	width: 100%;
	color: white;
	font-size: 1em;
	letter-spacing: .1em;
	animation: glitch-fade 2s infinite linear alternate-reverse;
}

#name {
	color: white;
	font-size: 4em;
	letter-spacing: .5em;
	animation: glitch-skew 2s infinite linear alternate-reverse;
}

#name::before, #name::after, #title::before, #title::after, #projectTitle::before, #projectTitle::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#name::before, #title::before, #projectTitle::before {
	left: 2px;
	text-shadow: -2px 0 #ff00c1;
	clip: rect(44px, 450px, 56px, 0);
	animation: glitch-anim 5s infinite linear alternate-reverse;
}

#name::after, #title::after, #projectTitle::after {
	left: -2px;
	text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
	animation: glitch-anim2 3s infinite linear alternate-reverse;
}

.carousel {
  margin-top: 7.5vh;
  flex-wrap: wrap;
  display: flex;
  padding: 30px 0px;
  justify-content: center;
  transform: scale(0);
  opacity: 0;
  transition: .5s ease-in;
}

.glide__slides {
  overflow: visible;
  display: flex;
  margin: auto;
}

.glide__track{
  height: 100%;
  display: flex;
  padding: 40px 0px;
}

.carousel .card {
  position: relative;
  max-width: 300px;
  height: 215px;
  background: #ecf0f1;
  margin: auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
}

.carousel .carousel-slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  counter-increment: item;
}

.carousel .glide__slide--active .card:hover {
  height: 430px;
}

.carousel .card .img {
  position: relative;
  width: 260px;
  height: 260px;
  top: -80px;
  margin: auto;
  display: flex;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.carousel .card .img img {
  max-width: 100%;
  border-radius: 4px;
}

.carousel .card .content {
  position: relative;
  margin-top: -150px;
  padding: 10px 15px;
  color:black;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.carousel .glide__slide--active .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -95px;
  transition-delay: 0.3s;
}

.carousel .card .content .content-description {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  color: black;
  text-align: justify;
}

.glide__slide {
  filter: blur(4px);
  opacity: .5;
  transition: .3s linear;
}

.glide__slide--active {
  opacity: 1;
  filter: none;
  transform: scale(1.1);
}

.footer {
  position: absolute;
  bottom: 5vh;
  width: 100%;
}

.contact {
  background: transparent;
  border-color: transparent;
  height: 50px;
  width: 50px;
  margin: 10px;
  transform: translateY(5vh);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.link {
  display: inline-flex;
  text-decoration: none;
  width: 50px;
  height: 50px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0.75;
  color: black;
  background-color: transparent;
}

.link::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  background: linear-gradient(45deg,#ecf0f1,#bdc3c7); 
  border-radius: 50%;
  z-index: -1;
  transition: .3s ease-in;
}

.link:hover::before, .contact:hover::before{
  transform: scale(0);
}

.link i {
  transition: .3s ease-in;
}

.link:hover i {
  color: #ecf0f1;
  transform: scale(2.3);
}

.link:hover {
  opacity: 1;
}

.change-theme {
  position: absolute;
  top: -8vh;
  right: 5vw;
  height: 50px;
  width: 50px;
  margin: 10px;
  border-color: transparent;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  transform: translateY(10vh);
  opacity: 1;
}

.change-theme a {
  display: inline-flex;
  text-decoration: none;
  width: 50px;
  height: 50px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0.75;
  color: black;
  background-color: transparent;
}

.change-theme a::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  background: linear-gradient(45deg,#ecf0f1,#bdc3c7); 
  border-radius: 50%;
  z-index: -1;
  transition: .3s ease-in;
}

.change-theme a:hover {
  opacity: 1;
}


.top {
  position: absolute;
  right: 5vw;
  height: 50px;
  width: 50px;
  margin: 10px;
  border-color: transparent;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  transform: translateY(10vh);
  opacity: 0;
}

.top a {
  display: inline-flex;
  text-decoration: none;
  width: 50px;
  height: 50px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0.75;
  color: black;
  background-color: transparent;
}

.top a::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  background: linear-gradient(45deg,#ecf0f1,#bdc3c7); 
  border-radius: 50%;
  z-index: -1;
  transition: .3s ease-in;
}

.top a:hover {
  opacity: 1;
}

.zoomIn {
  transform: scale(1);
  opacity: 1;
}

.fadeInBottom {
  transform: translateY(0);
  opacity: 1;
}

.glide__arrow {
  opacity: .75;
  transition: .3s ease-in;
}

.glide__arrow:hover {
  opacity: 1;
}

.slide-up {
  transform: translateY(-8vh);
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 1;
}

.button-outline-start{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.list-button-start {
  display: flex;
  flex-direction: column;
  gap: 12px;             
}

#button-start {
	position:relative;
	top: 2vh;
	left: 0;
	width: 100%;
	color: white;
	font-size: 2em;
	letter-spacing: .1em;
	animation: glitch-fade 4s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch-anim2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch-skew {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch-fade{
  0% {
    transform: none;
    opacity: 1;
  }
  50% {
    transform: none;
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@media only screen and (max-width: 992px) {
  .wrapper {
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 400px) {
  #title,
  #button-start {
    font-size: 1em;
    letter-spacing: .2em;
  }
  
  #start {
    font-size: 1em;
    letter-spacing: .1em;
  }
  
  #name {
    font-size: 2em;
    letter-spacing: .2em;
  }

  #projectTitle {
    font-size: 1em;
    letter-spacing: .1em;
  }
  
  .carousel .card {
    max-width: 190px;
    height: 135px;
  }
  
  .carousel .glide__slide--active .card:hover {
    height: 280px;
  }
  
  .carousel .card .img {
    width: 170px;
    height: 170px;
    top: -70px;
  }
  
  .carousel .glide__slide--active .card:hover .content {
    margin-top: -80px;
  }
  
  .carousel .glide__slide--active .card:hover .content::after {
    right: 5px; 
    bottom: 25px;
  }
  
  .carousel .card .content .content-description {
    line-height: 1.25em;
    max-height: 6.25em;
    font-size: .9em;
  }

  .carousel .card .content h2 {
    font-size: 1.25em;
  }

  .contact {
    height: 30px;
    width: 30px;
    margin: 5px;
  }
  
  .link {
    width: 30px;
    height: 30px;
    font-size: 12.5px;
  }
  
  .link::before {
    height: 30px;
    width: 30px;
  }
  
  .top {
    right: 5vw;
    height: 30px;
    width: 30px;
    margin: 5px;
  }
  
  .top a {
    width: 30px;
    height: 30px;
    font-size: 12.5px;
  }
  
  .top a::before {
    height: 30px;
    width: 30px;
  }
  .change-theme {
    right: 5vw;
    height: 30px;
    width: 30px;
    margin: 5px;
  }
  
  .change-theme a {
    width: 30px;
    height: 30px;
    font-size: 12.5px;
  }
  
  .change-theme a::before {
    height: 30px;
    width: 30px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) ,
  screen and (max-height: 700px)  {
  #title,
  #button-start {
    font-size: 1em;
    letter-spacing: .2em;
  }
  
  #start {
    font-size: 1em;
    letter-spacing: .1em;
  }
  
  #name {
    font-size: 2em;
    letter-spacing: .2em;
  }

  #projectTitle {
    font-size: 2em;
    letter-spacing: .2em;
  }
  
  .carousel .card {
    max-width: 220px;
    height: 155px;
  }
  
  .carousel .glide__slide--active .card:hover {
    height: 300px;
  }
  
  .carousel .card .img {
    width: 180px;
    height: 180px;
    top: -70px;
  }
  
  .carousel .glide__slide--active .card:hover .content {
    margin-top: -80px;
  }
  
  .carousel .glide__slide--active .card:hover .content::after {
    right: 6px; 
    bottom: 28px;
  }
  
  .carousel .card .content .content-description {
    -webkit-line-clamp: 3;
  }

  .contact {
    height: 30px;
    width: 30px;
    margin: 5px;
  }
  
  .link {
    width: 30px;
    height: 30px;
    font-size: 12.5px;
  }
  
  .link::before {
    height: 30px;
    width: 30px;
  }
  
  .top {
    right: 5vw;
    height: 30px;
    width: 30px;
    margin: 5px;
  }
  
  .top a {
    width: 30px;
    height: 30px;
    font-size: 12.5px;
  }
  
  .top a::before {
    height: 30px;
    width: 30px;
  }
  
  .change-theme {
    right: 5vw;
    height: 30px;
    width: 30px;
    margin: 5px;
  }
  
  .change-theme a {
    width: 30px;
    height: 30px;
    font-size: 12.5px;
  }
  
  .change-theme a::before {
    height: 30px;
    width: 30px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  #title,
  #button-start {
    font-size: 1em;
    letter-spacing: .2em;
  }
  
  #start{
    font-size: 1em;
    letter-spacing: .1em;
  }
  
  #name {
    font-size: 2em;
    letter-spacing: .2em;
  }

  #projectTitle {
    font-size: 2em;
    letter-spacing: .2em;
  }
  
  .carousel .card {
    max-width: 230px;
    height: 175px;
  }
  
  .carousel .glide__slide--active .card:hover {
    height: 360px;
  }
  
  .carousel .card .img {
    width: 200px;
    height: 200px;
  }
  .carousel .glide__slide--active .card:hover .content {
    margin-top: -80px;
  }
  
  .carousel .glide__slide--active .card:hover .content::after {
    right: 6px; 
    bottom: 28px;
  }
  
  .carousel .card .content .content-description {
    -webkit-line-clamp: 5;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
  .carousel .card {
    max-width: 230px;
    height: 175px;
  }
  
  .carousel .glide__slide--active .card:hover {
    height: 360px;
  }
  
  .carousel .card .img {
    width: 200px;
    height: 200px;
  }
  .carousel .glide__slide--active .card:hover .content {
    margin-top: -80px;
  }
  
  .carousel .glide__slide--active .card:hover .content::after {
    right: 6px; 
    bottom: 28px;
  }
  
  .carousel .card .content .content-description {
    -webkit-line-clamp: 5;
  }
} 

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .carousel .card {
    max-width: 260px;
    height: 200px;
  }
  
  .carousel .glide__slide--active .card:hover {
    height: 360px;
  }
  
  .carousel .card .img {
    width: 230px;
    height: 230px;
  }
  .carousel .glide__slide--active .card:hover .content {
    margin-top: -80px;
  }
  
  .carousel .glide__slide--active .card:hover .content::after {
    right: 6px; 
    bottom: 28px;
  }
  
  .carousel .card .content .content-description {
    -webkit-line-clamp: 4;
  }
} 
